services:
  web-chat-room:
    image: ghcr.io/radendk/web-chat-room:latest
    container_name: web-chat-room
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    networks:
      - publicvm_web
    expose:
      - "80"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production

networks:
  publicvm_web:
    external: true
