name: Deploy WebChatRoom

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Docker Compose Down
        run: docker compose down 

      - name: Docker Compose Up (Build & Deploy)
        run: docker compose up -d --build
